<a href="https://colab.research.google.com/github/yyc1010/introduction-to-computer/blob/main/0605%E7%B7%B4%E7%BF%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=int(input())
if (a>=0):
     if (a%2 ==0):
       print("{} is even".format(a))
     else:
       print("{} is odd".format(a))
else:
     print("Input Error")

19
19 is odd

In [4]:
i=range(1,101)
print(sum(i))  #總和

5050

In [5]:
a=int(input())             #季節判斷
if (a>=1 and a<=12):
  if (a==1 or a==2 or a==3):
    print("{} is spring".format(a))
  elif(a==4 or a==5 or a==6):
    print("{} is summer".format(a))
  elif(a==7 or a==8 or a==9):
    print("{} is autumn".format(a))
  else:
    print("{} is winter".format(a))
else:
  print("Input Error")

12
12 is winter

In [6]:
a=int(input())             #計程車
if (a>=0):
   if(a>=5):
     total=240+(a-5)*40
     print("{} yuan".format(total))
   elif(a==0):
     total=0
     print("{} yuan".format(total))
   else:
     total=240
     print("{} yuan".format(total))
else:
   print("Input Error")

0
0 yuan

In [7]:
a=int(input())            #銀行複利
if(a>=0):
      total=100000*(1+0.03)**a
      print(total)
else:
      print("Input Error")

5
115927.40743

In [ ]:
50

In [9]:
a,b,c=input().split()    #找最小的數
int_a=int(a)
int_b=int(b)
int_c=int(c)
min=int_a
if(int_b < min):
   min=int_b
if(int_c < min):
   min=int_c
print(min)

50 20 13
13

In [10]:
a,b,c=input().split()  #找最大的數
f_a=float(a)
f_b=float(b)
f_c=float(c)
max=f_a
if(f_b > max):
   max=f_b
if(f_c > max):
   max=f_c
print(max)

20 50 41
50.0

In [11]:
n=int(input())      #找所有因數
for i in range(1,n+1):
    if(n%i==0):
      print(i,end=' ')

50
1 2 5 10 25 50

In [12]:
n=int(input())      #3和7的因數
total=0
for i in range(1,n+1):
   if(i%3==0 or i%7==0):
      total += i
print(total)

50
541

In [13]:
n=int(input())      #用米字鍵
for i in range(1,n+1):
   for j in range(1,i+1):
      print("*",end="")
   print()

5
*
**
***
****
*****

In [14]:
n=int(input())      #數字
for i in range(1,n+1):
   for j in range(1,i+1):
      print(j,end="")
   print()

5
1
12
123
1234
12345

In [18]:
n=input()              #大小寫
for i in range(len(n)):
  if(i % 2==0):
      print(n[i].upper(),end=' ')
  else:
      print(n[i].lower(),end=' ')

panda
P a N d A

In [19]:
list_a=input().split()       #list倒序
for i in range(len(list_a)-1,-1,-1):
  print(list_a[i],end=' ')

banana apple orange
orange apple banana

In [22]:
a=int(input())          #判斷平閏年
if a%4==0:
  if a%100==0:
    print("{}是平年".format(a))
  else:
    print("{}是閏年".format(a))
else:
  print("{}是平年".format(a))

2003
2003是平年